<html>
    <head>
        <title>Desafio 01</title>
    </head>
    <body>
        <form action="check" method="POST">
            Nome: <input  type="text" name="username"/>
            Data Nascimento: <input  type="date" name="nasci"/>
            <button type="submit">Ver</button>
        </form>
    </body>
</html>
