<html>
    <head>
        <title>Major</title>
    </head>
    <body>
        <form action="major" method="GET">
           Parabéns {{ nome }}, você tem mais que 18 anos.
        </form>
    </body>
</html>
