<html>
    <head>
        <title>Minor</title>
    </head>
    <body>
        <form action="minor" method="GET">
          Que pena {{ nome }}, você tem menos que 18 anos.
        </form>
    </body>
</html>
